.scrollbox {
    position: relative;

    .scrollmasker {
        overflow: hidden;
    }

    .scrollwrapper {
        overflow-y: scroll;
    }

    .scrollbar {
        position: absolute;
        right: 0;
        width: 0.5em;
        background: $secondary_color;
    }

    @media (max-width: 414px), (max-height: 414px) {
        .scrollbar {
            display: none;
        }
    }
}
