#gallery {
    background: #000;

    h1 {
        text-align: center;
        position: absolute;
        width: 100%;
        top: 25%;
        font-size: 150px;
        color: #fff;
        color: rgba(255, 255, 255, 0.15);
    }

    .buttons {
        width: 290px;
        height: 125px;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -145px;

        transform: translateZ(1px);
        transform-origin: 50% 100%;

        button {
            width: 50%;
            height: 100%;
            margin: 0;
            padding: 0;
            position: absolute;
            background: transparent;
            border: none;
            display: block;

            &:focus {
                outline: none;
            }
        }

        svg {
            pointer-events: none;
            display: block;
            // opacity: 0.5;
        }

        circle {
            stroke-width: 4px;
            transition: stroke-dashoffset 0.2s ease-in-out;
        }

        .circ1 {
            fill: none;
            stroke: #fff;
            stroke-dashoffset: -157;
        }

        .circ2 {
            fill: none;
            stroke: $red;
            stroke-dashoffset: 0;
        }

        .prev_slide {
            left: 0;

            svg {
                left: 50px;
                display: block;
                position: absolute;
                top: 50%;
                margin-top: -25px;
                z-index: 0;
            }

            &:hover {
                .circ1 {
                    fill: none;
                    stroke: #fff;
                    stroke-dashoffset: 0;
                }

                .circ2 {
                    fill: none;
                    stroke: $red;
                    stroke-dashoffset: 157;
                }
            }

            &::before {
                content: "";
                height: 4px;
                width: 60px;
                background: $white;
                position: absolute;
                top: 50%;
                left: 73px;
                z-index: 1;
                border-radius: 2px;
            }

            &::after {
                content: "";
                height: 8px;
                width: 8px;
                border-right: solid 4px $white;
                border-top: solid 4px $white;
                position: absolute;
                top: 50%;
                margin-top: -4px;
                left: 75px;
                margin-left: -3px;
                z-index: 1;
                transform: rotate(-135deg);
            }
        }

        .next_slide {
            right: 0;

            svg {
                right: 50px;
                display: block;
                position: absolute;
                top: 50%;
                margin-top: -25px;
                transform: rotate(180deg);
            }

            .circ1 {
                stroke-dashoffset: 157;
            }

            .circ2 {
                stroke-dashoffset: 0;
            }

            &:hover {
                .circ1 {
                    stroke-dashoffset: 0;
                }

                .circ2 {
                    stroke-dashoffset: -157;
                }
            }

            &::before {
                content: "";
                height: 4px;
                width: 60px;
                background: $white;
                position: absolute;
                top: 50%;
                right: 73px;
                z-index: 1;
                border-radius: 2px;
            }

            &::after {
                content: "";
                height: 8px;
                width: 8px;
                border-right: solid 4px $white;
                border-top: solid 4px $white;
                position: absolute;
                top: 50%;
                margin-top: -4px;
                right: 75px;
                margin-right: -3px;
                z-index: 1;
                transform: rotate(45deg);
            }
        }
    }

    @media (max-height: 600px) {
        .buttons {
            transform: scale(0.75) translateX(1px) translateZ(1px);
        }
    }

    @media (max-width: 414px), (max-height: 414px) {
        .buttons {
            transform: scale(0.6) translateX(1px) translateZ(1px);
        }
    }

    @media (max-width: 320px), (max-height: 320px) {
        .buttons {
            transform: scale(0.4) translateX(1px) translateZ(1px);
        }
    }
}
