#videos {
    #player {
        position: absolute;
    }

    #vid_nav_wrapper {
        position: absolute;
        display: none;
        width: 100%;

        ul {
            text-align: center;
            margin-top: 0;
        }

        li {
            display: inline-block;
            font-size: 1.5em;
            margin: 0 1em;
            opacity: 0.5;

            &.active {
                opacity: 1;
            }
        }
    }
}
