#home {
    #actors {
        list-style: none;
        margin: 0 auto;
        padding: 1em 0 0.8em;
        font-family: $secondary_font;
        font-weight: $secondary_medium;
        text-align: center;
        font-size: 10px;
        position: relative;

        li {
            display: inline-block;
            margin: 1em 0;
            vertical-align: top;
            padding: 0 2em;
            border-right: solid 0.1em #fff;

            span {
                display: block;
            }

            .first {
                font-size: 2em;
                line-height: 1em;
                height: 1em;
            }

            .last {
                font-size: 4em;
                line-height: 0.75em;

                .before {
                    display: inline-block;
                    font-size: 0.35em;
                    margin-left: -0.4em;
                    height: 0;
                }
            }
        }
    }

    .content_wrapper {
        font-size: 20px;
        position: absolute;
        width: 100%;
    }

    #mainTitleImage {
        max-width: 100%;
        display: block;
        margin: 0.5em auto 0.35em;
    }

    #releaseDate {
        width: 100%;
        font-family: $secondary_font;
        font-weight: $secondary_medium;
        text-align: center;
        color: #c5c2c2;
    }

    #watchTrailerButton {
        display: block;
        background: $black;
        color: $white;
        margin: 0 auto;
        padding: 0 1em 0 2em;
        height: 1.75em;
        border: solid 0.0556em $red;
        font-family: $primary_font;
        font-weight: $primary_bold;
        line-height: 1em;
        position: relative;

        border-radius: 1.2em;

        span {
            display: inline-block;
            position: relative;
            font-size: 1em;

            &::before {
                content: "";
                position: absolute;
                display: block;
                top: 50%;
                left: -1em;
                margin-left: calc(-0.389em - 0.0833em);
                margin-top: calc(-0.389em - 0.0833em);
                width: 0.778em;
                height: 0.778em;
                border: solid 0.0556em $red;

                border-radius: 50%;
            }

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: -1em;
                border-top: solid 0.152778em rgba(0, 0, 0, 0);
                border-left: solid 0.25em $red;
                border-bottom: solid 0.152778em rgba(0, 0, 0, 0);
                margin-left: -0.085em;
                margin-top: -0.1667em;
            }
        }

        .span2 {
            font-weight: $primary_normal;
            color: $red;
            font-size: 0.5em;
            line-height: 1em;
        }
    }

    h2 {
        font-family: $secondary_font;
        font-weight: $secondary_normal;
        font-size: 4.75em;
        letter-spacing: 0.34em;
        text-align: center;
        position: relative;
    }

    // .desktopBG {
    //     display: block;
    // }

    // .mobileBG {
    //     display: none;
    // }

    .stripe_wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background: $red;

        .bottom_gradient {
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 25%;

            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0); /* IE6-9 */
        }

        img {
            position: absolute;
            bottom: 0;

            transform-origin: 0 100%;
        }

        .stripe {
            position: absolute;
            top: 0;
            width: 1px;
            height: 1px;
            background: $red;

            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c1010a+0,f3010e+65,f3010e+100 */
            background: #c1010a; /* Old browsers */
            background: -moz-linear-gradient(left, #c1010a 0%, #f3010e 65%, #f3010e 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #c1010a 0%, #f3010e 65%, #f3010e 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #c1010a 0%, #f3010e 65%, #f3010e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1010a', endColorstr='#f3010e', GradientType=1); /* IE6-9 */

            transform-origin: 0 0;
        }
    }

    @media (orientation: portrait) {
        .desktopBG {
            display: none;
        }

        .mobileBG {
            display: block;
        }
    }

    @media (max-width: 414px) {
        h2 {
            font-size: 2em;
            letter-spacing: 0.3em;
        }

        #mainTitleImage {
            max-width: 80%;
        }

        #releaseDate {
            font-size: 2.5em;
        }

        #watchTrailerButton {
            display: block;
            background: $black;
            color: $red;
            border: none;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;

            border-radius: 0;

            &::before {
                left: 1.75em;
            }

            &::after {
                left: 1.75em;
            }

            span {
                color: $red;
                vertical-align: text-bottom;
                font-size: 3em;
            }
        }
    }

    @media (max-width: 320px) {
        #watchTrailerButton {
            span {
                font-size: 2.75em;
            }
        }
    }
}
