#MPAA_requirements {
    position: absolute;
    top: 100%;
    right: 0;
    width: auto;
    background: $black;
    padding: 20px;

    img {
        display: block;
    }

    ul {
        margin: 1em 0.25em 0;

        li {
            text-align: left;
            display: block;
            margin-top: 0.5em;

            a {
                margin: 0;
                float: none;
                line-height: 1.25em;
                color: #666;
                opacity: 0.75;

                .no-touch &:hover {
                    opacity: 1;
                }
            }
        }
    }
}