#MPAA_requirements {
    position: absolute;
    top: 100%;
    right: 0;
    width: auto;
    background: $black;
    padding: 20px;

    img {
        display: block;
    }

    ul {
        margin: 1em 0;

        li {
            text-align: left;
            display: block;

            .footer-btn {
                margin: 0;
                float: none;

                .no-touch &:hover {
                    opacity: 1;
                }
            }
        }
    }
}
