#about {
    // background: $white;
    font-size: 24px;
    font-family: $primary_font;
    font-weight: $primary_normal;
    line-height: 1.487em;
    letter-spacing: 0.5px;
    color: $white;
    overflow-y: auto;
    overflow-x: hidden;

    .wrapper {
        position: relative;
        width: 100%;
        max-width: 574px;
        margin: 0 auto;
        padding: 2em;
        background: rgba(0, 0, 0, 0.75);
    }

    h1 {
        font-size: 3.36em;
        font-weight: $primary_medium;
        color: $red;
        line-height: 1.02em;
        margin-bottom: 0.36em;
        text-align: center;
    }

    h2 {
        font-size: 1.5em;
        font-weight: $primary_normal;
        color: $red;
        line-height: 1.02em;
        margin-bottom: 0.25em;
    }

    @media (max-width: 768px) and (orientation: portrait) {
        .wrapper {
            // max-width: none;
        }
    }

    @media (max-height: 414px) and (orientation: landscape) {
        .wrapper {
            width: 50%;
        }
    }

    @media (max-width: 670px), (max-height: 670px) {
        font-size: 20px;

        h1 {
            font-size: 2.5em;
        }

        h2 {
            font-size: 1.375em;
        }
    }

    @media (max-width: 414px), (max-height: 414px) {
        font-size: 16px;

        h1 {
            font-size: 2.5em;
        }

        h2 {
            font-size: 1.375em;
        }
    }
}
